/* Styles for the main body */
body {
  background-color:white;
  font-family: 'Playpen Sans', cursive;
}



/* Styles for heading component */

#heading {
  text-align: center;
  color:white;
  background-color:black;
  border-bottom: khaki solid 10px;
  margin-top: -30px;
  padding-top:30px;
  padding-bottom: 15px;
  font-size: 20px;
  width:100%;
  font-family: 'Playpen Sans', cursive;
}



.homeLink {
  color: white;
  margin-right:auto;
  margin-left:auto;
  text-decoration: none;
  font-size:10px;

}
@media only screen and (max-width: 600px) {
  #heading {
    padding-top:10px;
    padding-bottom: 0px;
  }
  .homeLink {
    font-size: 10px;
  }
}


/* Styles for landing button component */

.gameButton {
  margin-top: 30px;
  margin-left: 14%;
  margin-right: 14%;
  border-bottom: none;
  padding-top:250px;
  
  
  
}

.gameImage {
  margin-top: 100px;
  border: burlywood outset 8px;
  border-radius: 40px;
  width: 250px;
  height:250px;
  padding:10px;
  
}

.startGame {
  color: white;
  background-color: black;
  /* margin-left: 28%; */
  /* margin-top: 50%; */
  border: burlywood solid 5px;
  border-radius: 40px;
  text-decoration: none;
  position:absolute;
  top:80px;
  padding: 5px;

}



/* Styles for game component */

#hangmanMainPage {
  display: flex;
  width: 80%;
  
  margin: auto;
  justify-content: space-around;
  margin-top: 10px
}

#image {
  border: burlywood outset 8px;
  border-radius: 40px;
  padding: 10px;
  background-color: white;
  width:20%;
  
  /* float: right;
  margin-right: 10vw;
  margin-top:5vh; */
}

#displayWord {
  display:flex;
  padding-top: 50px;
  margin:auto;
  width: 90%;
  /* border: black solid 2px */
}

#displayWord > a {
  width: 30px;
  border-bottom: 3px solid black;
  margin-left: 15px;
  
}
#keypad {
  
}

table {
  
  
  margin-right: auto;
  margin-top: 20px;
}

button {
  margin:5px;
  width:50px;
  height:5vh;
  background-color:khaki;
  border-radius: 10px;
  font-size: 12px

}

#generate {
  padding:10px;
  
  width: auto;
  margin-top:40px;
}

@media only screen and (max-width: 600px) {
  #hangmanMainPage {
    display: inline;
    margin-bottom: 50px;
  }
  #image {
    margin-top: 10px;
    margin-left: 30%;
    width: 30%;
  }
  #keypad {
    width:90%;
    margin:auto;
  }
  #generate {
    margin-left: 10px;
  }
  table {
    margin-left: 10px;
  }
  button {
    width: 30px
  }
  #displayWord {
    
    padding-top: 20px;
    
  }

  #displayWord > a {
    width: 10px;
    border-bottom: 3px solid black;
    margin-left: 8px;
    
  }
}


/* Styles for the help page */

#help {
  width:50%;
  margin:auto;
  padding:20px;
  margin-top:10vh;
  margin-bottom: 10vh;
  border: burlywood groove 20px;
  background-color: black;
  color: white;
}

#help > h3 {
  font-size: 50px;
  text-align:center;
  margin-bottom: 10vh;
  margin-top:0;
  
}



/* Styles for dynamic style changes */

.hidden{
  display: none
}

.buttonHide {
  display: none
}



.hideLetter {
  color: white
}

.clickedButton {
  text-align: center;
  margin:5px;
  width: 3vw;
  height:5vh;
}






.TicTacToe {
  margin-bottom: 20px;
}

.tableXO {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  font-size: 50px;
  text-align: center;
  width:380px;
}

.row1 {
  border-bottom: 5px black solid;
  /* padding: 50px; */
  width:250px;
}
.row2 {
  border-bottom: 5px black solid;
  /* padding: 50px; */
}
.row3 {
  /* padding: 50px; */
}
.column1 {
  border-right: 5px black solid;
  width:100px;
  height:150px;
}
.column2 {
  border-right: 5px black solid;
  width:100px;
  height:150px;
}
.column3 {
  width:100px;
  height:150px;
}

.buttonXO {
  width: 90px;
  height: 90px;
  border: none;
  background:white;
  
}
.hiddenXO {
  display: none;
}
.reveal {
  padding:50px
}